<div class="container">
  <div class="row">
    <h1>OSSOM World Cup</h1>
    <div class="card col-sm-2">
      <h1>{{playerCount$ | async}}</h1>
      Player
    </div>
    <div class="card col-sm-2">
      <h1>{{computerCount$ | async}}</h1>
      Computer
    </div>
    <div class="card col-sm-2">
      <h4>First to 30 points wins</h4>
    </div>
  </div>
  <div class="row" style="margin-top: 2rem">
    <div class="cardItem card col-sm-2" *ngFor="let item of ossomArray, let i = index"
         style="text-align: center; cursor: pointer"
         (click)="startMatch(i)">
      <img src="ossom/browser/assets/img/{{item}}.png" alt="" >
      <h4>{{item}}</h4>
    </div>
    <div class="col-sm-4">
      <h1 class="vs">VS</h1>
    </div>
    <div class="card col-sm-2" style="text-align: center;">
        <img src="ossom/browser/assets/img/{{computerSelect}}.png" alt="" >
      <h4>{{computerSelect}}</h4>
    </div>
    <button class="btn btn-success col-sm-1" style="margin-top: 2rem" (click)="resetScore()">Reset score</button>
  </div>
</div>
